<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>

  <link href="Styles/FWs/bootstrap.min.css" rel="stylesheet">
  <link href="Styles/Master.css" rel="stylesheet">

  <script src="Scripts/FWs/jquery-3.6.0.min.js" type="text/javascript"></script>
  <script src="Scripts/FWs/bootstrap.min.js" type="text/javascript"></script>
  <script src="Scripts/FWs/vue.min.js" type="text/javascript"></script>
  <script src="Scripts/FWs/xlsx.full.min.js" type="text/javascript"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="Scripts/Object.js" type="text/javascript"></script>
  <script src="Scripts/Initialize.js" type="text/javascript"></script>
  <script src="Scripts/Search.js" type="text/javascript"></script>
</head>
<body>
  <div id="filter" class="container">
    <table class="table table-sm mt-3">
      <thead>
        <tr>
          <th>Mã</th>
          <th>Môn học</th>
          <th class="text-center">Số TC</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(subject, index) in subjects" class="list-complete-item">
          <td>{{subject.m_code}}</td>
          <td>{{subject.m_name}}</td>
          <td class="text-center">{{subject.m_credit}}</td>
          <td><button class="btn btn-sm btn-info text-white" @click="remove(index)">Xóa</button></td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-secondary" role="alert">
      Người anh em đã đăng kí tổng cộng
      <b
        v-bind:class="{
          'text-danger': totalCredit > 24,
          'text-info'  : totalCredit > 10,
        }"
      >
        {{totalCredit}}
      </b>
      tín chỉ
    </div>

    <div class="form-floating mb-3">
      <textarea id="filter-area" class="form-control" v-model="typing"></textarea>
      <label>Mã môn học (hoặc danh sách mã môn học)</label>
    </div>
    <button class="btn btn-secondary" @click="insert(typing); typing=''">Thêm môn học</button>
    <button class="btn btn-info text-white" @click="subjects.splice(0)">Xóa tất cả</button>
  </div>

  <div class="border-top width-100 m-5"></div>

  <div id="schedule" class="container">
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <select class="form-select" v-model="system">
            <option value="CQUI">Chính quy</option>
            <option value="CLC">Chất lương cao</option>
          </select>
          <label>Hệ đào tạo</label>
        </div>
      </div>
      <div v-if="system=='CLC'" class="col">
        <div class="form-floating mb-3">
          <select class="form-select">
            <option v-for="className of g_CLCClassNames" :value="className">{{className}}</option>
          </select>
          <label>Mã ngành</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <button class="btn btn-info text-white w-100" @click="search">Tìm kiếm</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <select class="form-select" v-model="option">
            <option value="-1">Lịch học thoải mái</option>
            <option value="1">Lịch học dồn dập</option>
          </select>
          <label>Chọn chế độ học</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <select class="form-select" v-model="limit">
            <option v-for="i of Array(14).keys()" :value="1 << i">{{(1 << i)}}</option>
          </select>
          <label>Số kết quả hiển thị</label>
        </div>
      </div>
    </div>

    <div class="alert alert-info" role="alert">
      Có <b class="text-danger">{{schedules.length}}</b> kết quả phù hợp với yêu cầu của người anh em
    </div>
    <table class="table table-sm align-middle text-center">
      <thead>
        <tr>
          <th></th>
          <th>Độ căng</th>
          <th>Chi tiết</th>
          <th>Danh sách</th>
        </tr>
      </thead>
      <tbody >
        <tr v-for="(schedule, index) in getResult">
          <td>
            <a class="btn btn-sm btn-secondary" :href="'Render.html?s=' + getClassCodes(schedule).join(';')" target="blank">Xem</a>
            <button class="btn btn-sm btn-info text-white" @click="copyClassCodes(schedule)">Sao chép</button>
          </td>
          <td>{{schedule.m_time.distance()}}</td>
          <td>
            <div class="d-inline-block">
              <div v-for="(a, column) in Array(10).keys()" style="height: 8px; width: 96px">
                <div
                  v-for="(b, row) in Array(6).keys()"
                  class="square border-top border-start d-inline-block"
                  v-bind:class="{
                    'bg-info': schedule.m_time.get(b * 10 + a),
                    'border-end': row == 5,
                    'border-bottom': column == 9,
                  }"
                >
                </div>
              </div>
            </div>
          </td>
          <td>
            <code v-for="classCode in getClassCodes(schedule)" class="d-block">{{classCode}}</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div v-if="messages.length" id="alert" class="position-fixed top-0 end-0 p-3 text-right" style="background-color: rgba(28, 28, 28,0.0811);">
    <h3 class="text-center bg-white p-3">Thông báo hệ thống</h3>
    <div class="alert show mb-1 p-0" role="alert" style="text-align: right;">
      <button class="btn btn-secondary m-0" @click="messages.splice(0)">Xóa tất cả</button>
    </div>
    <div v-for="(message, index) in messages"
      :class="'alert-' + message.type"
      class="alert show mb-1"
      role="alert"
      style="opacity: .95;"
    >
      <span v-html="message.message"></span>
      <button type="button" class="btn-close" style="float: right;" @click="messages.splice(index, 1)"></button>
    </div>
  </div>
</body>
</html>
